<%= render 'shared/flash_messages' %>

<%= simple_form_for(:user, url: users_sign_document_path(document_id), method: :PATCH, remote: true) do |f| %>
  <%= f.input :password, 
    label: t('activerecord.attributes.user.password_confirmation'), 
    placeholder: I18n.t('simple_form.placeholders.user.password') %>

  <div class="form-footer">
    <div class="d-flex">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%= I18n.t('simple_form.buttons.cancel') %> </button>
      <%= f.button :submit, t('activerecord.attributes.document_user.sign'), class: 'btn btn-primary ml-auto'%>
    </div>
  </div>
<% end %>

