<tr>
    <td><%= document.title %></td>
    <td><%= t("enums.categories.#{document.category}") %></td>
    <td><%= document.department.name %></td>
    <td>
        <%= check_box_tag :available_to_sign, document.id, document.available_to_sign, id: "document_#{document.id}_available_to_sign", class: 'form-check-input',
            data: {
            remote: true,
            url: users_document_availability_to_sign_path(document),
            method: :PATCH
        } %>
        <label class="ml-2 form-check-label" id="document_<%= document.id %>_available_to_sign_label" for="document_<%= document.id %>_available_to_sign">
            <span><%= t("activerecord.attributes.document.available_to_sign_boolean.#{document.available_to_sign}") %></span>
        </label>
    </td>
    <td>
      <%= link_to users_document_signers_path(document) do %>
          <%= icon('fas', 'users', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.signer.name.plural')) %>
      <% end %>
      <%= link_to users_preview_document_path(document) do %>
          <%= icon('fas', 'print', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.document.name.singular')) %>
      <% end %>
      <%= link_to edit_users_document_path(document) do %>
        <%= icon('fas', 'edit', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.edit')) %>
      <% end %>
      <%= link_to users_document_path(document), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
        <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
      <% end %>
    </td>
</tr>
