<%= simple_form_for([:users, @document]) do |f| %>

  <div class="row">
    <%= f.input :title, wrapper_html: { class: 'col-sm-12' } %>
  </div>

  <div class="row">
    <%= f.input :category, label: false, wrapper_html: { class: 'col-sm-6' },
      input_html: {class: 'apply-selectize'},
      collection: Document.human_categories,
      prompt: t('views.prompt.select.m', name: Document.human_attribute_name(:category)) %>
    <%= f.input :department_id, label: false, wrapper_html: { class: 'col-sm-6' },
      input_html: {class: 'apply-selectize'},
      collection: @departments,
      prompt: t('views.prompt.select.m', name: t('activerecord.attributes.document.department').downcase) %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <%= f.input :front_text, input_html: { data: { type: 'summernote' } } %>
      <%= f.input :back_text, input_html: { data: { type: 'summernote' } } %>
    </div>
    <div class="col-sm-4">
      <div class="row" style="padding-top:80px; padding-bottom: 80px;">
        <div class="col-sm-9">
          <div class="row" style="padding-top:1px;">
            <div class="col-sm-5"><input class="form-control" id="variable1" type="text" placeholder="Variable">
            </div>
            <div class="col-sm-7"><input class="form-control" type="text" placeholder="Title">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" onclick="addVariable(1)">ADD</button>
        </div>
      </div>
      <div class="row" style="padding-top:80px; padding-bottom: 80px;">
        <div class="col-sm-9">
          <div class="row" style="padding-top:1px;">
            <div class="col-sm-5"><input class="form-control" id="variable2" type="text" placeholder="Variable">
            </div>
            <div class="col-sm-7"><input class="form-control" type="text" placeholder="Title">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" onclick="addVariable(2)">ADD</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <div class="d-flex">
      <%= link_to t('views.links.back'), users_documents_path, class: 'btn btn-secondary' %>
      <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
    </div>
  </div>


  <script>
    window.onload = () => {
      var objDiv = document.getElementById("scroll");
      objDiv.scrollTop = objDiv.scrollHeight;
    }
    function addVariable($current) {
      if($current==2){
        window.alert("2");
      }else{
        window.alert("1");
      }
    }
  </script>

<% end %>
