<section id="document">
  <header>
    <div id="icon-div">
      <%= image_tag 'documents/brasaopb.gif', alt: 'UTFPR' %>
    </div>
    <div id="header-div">
      Ministério da Educação<br>
      Universidade Tecnológica Federal do Paraná<br>
      Campus Guarapuava<br><br>Departamento de Registros Acadêmicos - DERAC
    </div>
    <div id="icon-div">
      <%= image_tag 'documents/logo-utfpr.png', alt: 'UTFPR' %>        
    </div>
  </header>
  <footer>
    <div id="sidebar"></div>
    <div id="text-body">
      <% if show_title %>
        <h4 class="text-center"> <%= I18n.t("enums.categories.#{ @document.category }") %>
          <%= "#{@document.id}/#{@document.created_at.year} - #{@document.department.name}" %>
        </h4>
      <% end %>
      <%== text %>
    </div>
  </footer>
</section>