<div>
  <div class="row row-document head-document">
    <div class="col-2 icon-div">
      <%= image_tag 'documents/brasaopb.gif', class: 'icon-left', alt: 'UTFPR' %>
    </div>
    <div class="col-8 text-center-document">
      <strong>
        Ministério da Educação<br>
        Universidade Tecnológica Federal do Paraná<br>
        Campus Guarapuava<br><br>Departamento de Registros Acadêmicos - DERAC
      </strong>
    </div>
    <div class="col-2 icon-div">
      <%= image_tag 'documents/logo-utfpr.png', class: 'icon-right', alt: 'UTFPR' %>        
    </div>
  </div>
  <div class="row row-document body-document">
    <div class="col-2 side-bar"></div>
    <div class="col-10">
      <% if show_title %>
        <h4 class="text-center"> <%= I18n.t("enums.categories.#{ @document.category }") %>
          <%= "#{@document.id}/#{@document.created_at.year} - #{@document.department.name}" %>
        </h4>
      <% end %>
      <%== text %>
    </div>
  </div>
</div>