<section id="document">
  <header>
    <div class="document-header-coat-of-arms">
      <%= image_tag 'documents/brasao-brasil.png', alt: 'UTFPR' %>
    </div>
    <div class="document-header-text">
      Ministério da Educação<br>
      Universidade Tecnológica Federal do Paraná<br>
      Campus Guarapuava<br><br>Departamento de Registros Acadêmicos - DERAC
    </div>
    <div class="document-header-logo">
      <%= image_tag 'documents/logo-utfpr.png', alt: 'UTFPR' %>        
    </div>
  </header>

  <section class="document-body">
    <aside class="document-sidebar"></aside>
    
    <div class="document-content">

      <div class="document-title">
        <h3> <%= I18n.t("enums.categories.#{ @document.category }") %>
          <%= "#{@document.id}/#{@document.created_at.year} - #{@document.department.name}" %>
        </h3>
      </div>

      <%= text %>
    </div>
  </section>

  </section>
