<div class="form-group text-center">
     <label> <%= I18n.t("activerecord.attributes.document.variable.default_variables") %> </label>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-check">
            <input type="radio" name="defaultBackVariables" class="form-check-input" id="dfb_name">
            <label class="form-check-label" for="dfb_name"><%= I18n.t("activerecord.attributes.document.variable.name") %></label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-check">
            <input type="radio" name="defaultBackVariables" class="form-check-input" id="dfb_cpf">
            <label class="form-check-label" for="dfb_cpf"><%= I18n.t("activerecord.attributes.document.variable.cpf") %></label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-check">
            <input type="radio" name="defaultBackVariables" class="form-check-input" id="dfb_mail">
            <label class="form-check-label" for="dfb_mail"><%= I18n.t("activerecord.attributes.document.variable.mail") %></label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-check">
            <input type="radio" name="defaultBackVariables" class="form-check-input" id="dfb_register_number">
            <label class="form-check-label" for="dfb_register_number"><%= I18n.t("activerecord.attributes.document.variable.register_number") %></label>
        </div>
    </div>
</div>

<div class="form-group pt-6">
    <button type="button" class="btn btn-block btn-primary"><%= I18n.t("views.links.add") %></button>
</div>