<div class="form-group text-center">
     <label> <%= I18n.t("activerecord.attributes.document.variable.default_variables") %> </label>
</div>
<%= radio_button_tag(:defaultVariable, "name") %>
<%= label_tag(:defaultVariable_name, I18n.t("activerecord.attributes.document.variable.name"))%><br>
<%= radio_button_tag(:defaultVariable, "cpf") %>
<%= label_tag(:defaultVariable_cpf, I18n.t("activerecord.attributes.document.variable.cpf"))%><br>
<%= radio_button_tag(:defaultVariable, "email") %>
<%= label_tag(:defaultVariable_email, I18n.t("activerecord.attributes.document.variable.mail"))%><br>
<%= radio_button_tag(:defaultVariable, "register_number") %>
<%= label_tag(:defaultVariable_register_number, I18n.t("activerecord.attributes.document.variable.register_number"))%><br>

<div class="form-group pt-6">
    <button type="button" class="btn btn-block btn-primary" data_target="#front_text,#back_text" id="add_default_variable"><%= I18n.t("views.links.add") %></button>
</div>