<% provide(:head_title, t('views.document.signers.nwdc', name: @document.title)) %>
<% provide(:page_title, t('views.document.signers.nwdc', name: @document.title)) %>

<%= simple_form_for(@document_signer, url: users_document_add_signer_path, method: :post) do |f| %>
    <div class="row">
      <%= f.hidden_field :user_id %>
      <%= f.input :user, label: false,
                  wrapper_html: { class: 'col-sm-6' },
                  placeholder: 'Pesquise por um usuário',
                  input_html: { data: { search: 'keypress', search_url: api_search_non_members_path(:document, @document) },
                                value: f.object.user&.name  } %>

      <%= f.input :document_role, label: false, wrapper_html: { class: 'col-sm-5' },
                input_html: { class: 'apply-selectize' },
                collection: DocumentRole.all,
                prompt: t('views.prompt.select.m', name: User.human_attribute_name(:role)) %>

      <div class="col-sm-1">
        <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
          <i class="fe fe-user-plus"></i>
        <% end %>
      </div>
    </div>
<% end %>

<div class="table-responsive">
  <table class="table card-table table-striped table-vcenter table-options">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:active) %></th>
        <th><%= User.human_attribute_name(:role) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @document_signers.each do |document_signer| %>
        <tr>
          <td><%= document_signer.user.name %></td>
          <td><%= document_signer.user.email %></td>
          <td><%= t("views.status.#{document_signer.user.active?}") %></td>
          <td><%= document_signer.document_role.name %></td>
          <td>
            <%= link_to users_document_remove_signer_path(@document, document_signer.user), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
              <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>