<div class="row">
    <div class="col-sm-12 col-lg-9 mb-2">
        <div class="input-group mb-3">
            <div class="input-group">
                <%= text_field_tag :search, params[:term],
                                            data: {},
                                            class: 'form-control enter-to-submit-search',
                                            placeholder: t('views.search.placeholder') %>
                <span class="input-group-append">
                <button class="btn btn-outline-info submit-search" type="button"><i class="fe fe-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-3 mb-2">
        <%= link_to users_document_show_member_path(params[:documentId]), class: "btn btn-outline-primary btn-block" do %>
            <%= icon('fas', 'plus', class: 'mr-2') %><%= t('views.document.document_members.new') %>
        <% end %>
    </div>
</div>
<table id="variables-table" class="table card-table table-striped table-vcenter">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= render @document_member %>      
    </tbody>
</table>
