<% @departments.each_with_index do |department, index| %>
<tr>
  <td><%= link_to department.name, admins_department_path(department) %></td>
  <td><%= department.phone %></td>
  <td><%= department.email %></td>
  
  <% if @responsibles[index].class.name == 'DepartmentUser' %>
    <td><%= @responsibles[index].user.name %></td>
  <%else%>
    <td></td>
  <%end%>

  <td><%= department.department_users.size %></td>

  <td>
  <%= link_to admins_department_members_path(department) do %>
    <%= icon('fas', 'users', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.user.name.plural')) %>
  <% end %>
  <%= link_to edit_admins_department_path(department) do %>
    <%= icon('fas', 'edit', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.edit')) %>
  <% end %>
    <%= link_to admins_department_path(department), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
    <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
  <% end %>
  </td>
</tr>  
<%end%>
  