<div id="<%= id %>" class="card card-collapsed">
  <div class="card-status <%= class_status %>"></div>
  <div class="card-header">
    <span class="badge <%= class_status %>"><%= recipients.count %></span>
    <h3 class="ml-3 card-title"><%= title %></h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">

    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.email') %></th>
          <th><%= DocumentRecipient.human_attribute_name(:profile_type) %></th>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.name') %></th>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.cpf') %></th>
          
          <% @document.variables.each do |variable|%>
            <th class="col col-auto"><%= variable['name'] %> (<%= variable['identifier']%>)</th>
          <% end %>
        </tr>
      </thead>

      <tbody>      
        <% recipients.each do |recipient|%>
          <tr>
            <td><%= recipient.profile.model_name.human %></td>
            <td><%= recipient.profile.name %></td>
            <td><%= recipient.profile.cpf %></td>
            <td><%= recipient.profile.email %></td>

            <% recipient.variables.each do |key, value| %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
