<div id="<%= id %>" class="card card-collapsed">
  <div class="card-status <%= class_status %>"></div>
  <div class="card-header">
    <span class="badge <%= class_status %>"><%= members.count %></span>
    <h3 class="ml-3 card-title"><%= title %></h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">

    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.name') %></th>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.cpf') %></th>
          <th class="col col-auto"><%= t('activerecord.attributes.audience_member.email') %></th>
          
          <% Document.find(params[:id]).variables.each do |cv|%>
            <th class="col col-auto"><%= cv['name'] %> (<%=cv['identifier']%>)</th>
          <% end %>

        </tr>
      </thead>


      <tbody>      
          <% members.each do |member|%>
            <% if member[:profile_type].present?  %>
            <tr>
              <td><%= member.profile.name %> <span class="<%= member.profile_type == "User" ? 'text-primary' : 'text-info' %> float-right"> <%= member.profile_type.constantize.model_name.human %> </span> </td>
              <td><%= member.profile.cpf %></td>
              <td><%= member.profile.email %></td>
              <% Document.find(params[:id]).variables.each do |cv| %>
                <td><%= member.variables[cv['name']] ||= 'Indisponível' %>  </td>
              <% end %>
            </tr>
            <% else %>
            <tr>
              <td><%= member['name'] %></td>
              <td><%= member['cpf'] %></td>
              <td><%= member['email'] %></td>
              
              <%  custom_variables = member.except( 'name', 'email', 'cpf', ) %>

              <% Document.find(params[:id]).variables.each do |cv|%>
                <td><%= custom_variables[cv['name']] ||= 'Indisponível' %> </td>
              <% end %>

              
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
