<tr>
    <td><%= recipient.profile.name %></td>
    <td><%= recipient.profile.cpf %></td>
    <td><%= recipient.profile.email %></td>
    <td><%= recipient.profile.model_name.human %></td>

    <% recipient.variables.each do |key, value| %>
       <td><%= value %></td>
    <% end %>

    <td>

        <%= link_to users_document_remove_recipient_path(@document, recipient.profile.cpf), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
            <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
        <% end unless @document_has_signature %>
    </td>   
</tr>
