<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:head_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'cdms_favicon.ico' %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'public/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users/documents/print', media: 'all' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">
    <div class="container-fluid" id="main-content">

      <main>
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </main>

    </div>
  </body>
</html>
